@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #FAF9F6;
    padding-bottom: 50px;
}
body {
    &.dark {
        font-family: 'Roboto', Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: #333;
        color: #FAF9F6;
        padding-bottom: 50px;
    }
}

.dm_ip_check {
    width: 200px;
    position: relative;
    display: inline-block;
    padding: 15px 100px;
}
.dm_ip_check input {
	display: none;
    align-items: center;
}
.dm_ip_check label {
	position: relative;
	display: block;
	padding: 15px 0;
	padding-right: 35px;
	cursor: pointer;
    font-size: 1rem;
}
.dm_ip_check input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.dm_ip_check input[type='checkbox'] + label:before,
.dm_ip_check input[type='checkbox'] + label:after {
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7.5px;
	content: '';
}
.dm_ip_check input[type='checkbox'] + label:before {
	
    right: 0;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e3e1;
	border-radius: 30px;
	background: #ffffff;
}
.dm_ip_check input[type='checkbox']:checked + label:before {
    background-color: #bbb;
}
/* Circle within the mode*/
.dm_ip_check input[type='checkbox'] + label:after {
	right: 29px;
	width: 30px;
	height: 30px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #bdbdbd;
}
.dm_ip_check input[type='checkbox']:checked + label:after {
	right: 0;
	background: #545454;
    background-size: contain;
  background-repeat: no-repeat;
  font-family:"Font Awesome 5 Free";
  padding: 6px 0 0 8px;
}
/* Title style */
h1 {
    margin-top: 30px;
    font-size: 3em;
    color: #d0490f;
    text-transform: uppercase;
}

/* Map style */
#map {
    height: 600px;
    width: 60%;
    margin: 30px auto;
    min-width: 500px;
    min-height: 600px;
    border: 2px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table style */
#data-table {
    width: 35%;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}

/* Button style */
#toggleViewOnlyBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggleViewOnlyBtn:hover {
    background-color: #ffeb3b;
}

/* Modal (the details) and popup styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    max-height: 80%;  /* Limit the height of the modal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  /* Allow scrolling if content exceeds max height */
}
body.dark .modal-content {
    background-color: #333;
    color: #f9f9f9;
}


.modal-header img {
    width: 100%;
    max-height: 300px; /* Limit image height */
    object-fit: contain; /* Ensure image maintains aspect ratio */
    margin-bottom: 10px;
}

/* Close button style */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    align-items: right;
    border: none;
    background-color: transparent;
    color: black;
}
.close:hover {
    color: #444;
}

body.dark .close {
    color: #ddd;
}
body.dark .close:hover {
    color: #fff;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: transparent;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


th {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #d6cbc7;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


body.dark th {
    padding: 8px;
    text-align: left;
    border: 1px solid #242424;
    background-color: #1c1c1c;
    cursor: pointer;
    z-index: 1;
}

th:hover {
    background-color: #f1f1f1;
}

body.dark th:hover{
    background-color: #292727;
}

td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

body.dark td {
    padding: 8px;
    text-align: left;
    border: 1px solid #242424;
    background-color: #333;
}


#requestsTable tbody tr:hover td {
    background-color: #f1f1f1; /* Light gray for the row */
    cursor: pointer;          /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}
body.dark #requestsTable tbody tr:hover td {
    background-color: #555; /* Dark gray */
    cursor: pointer;
}


p {
    font-size: 0.85rem;
}

.sort-arrow {
  font-size: 12px;
  margin-left: 5px;
}

.highlight {
    background-color: #ffeb3b;
}

img {
    width: 50px;
    height: 50px;
}
#popupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1000;
}
#popupForm input, #popupForm button {
    display: block;
    margin: 10px 0;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.bc-flag {
    width: 150px; /* Adjust size for flags */
    height: auto;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 20px;
}

.can-flag {
    width: 180px;
    height: auto;
    padding-top: 5px;
    padding-right: 15px;
}


#admin {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
  }
  
  #admin:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
  }
  
  #admin:active {
    background-color: #397d40;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }

  .modal-content button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    font-size: 14px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    margin: 10px 5px; 
  }
  
  .modal-content button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
  }
  
  .modal-content button:active {
    background-color: #397d40; 
    transform: translateY(1px); 
  }

  .popup-content {
    font-family: 'Roboto', Arial, sans-serif;
  }
  .popup-content button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    font-size: 14px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    margin: 10px 5px; 
  }
  
  .popup-content button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
  }
  
  .popup-content button:active {
    background-color: #397d40; 
    transform: translateY(1px); 
  }
  
  
  
  
  
