body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}
body {
    &.dark {
        background-color: #333;
        color: #fff;
    }
}

.dm_ip_check {
    width: 200px;
    position: relative;
    display: inline-block;
    padding: 15px 100px;
}
.dm_ip_check input {
	display: none;
    align-items: center;
}
.dm_ip_check label {
	position: relative;
	display: block;
	padding: 15px 0;
	padding-right: 35px;
	cursor: pointer;
  font-size: 1rem;
}
.dm_ip_check input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.dm_ip_check input[type='checkbox'] + label:before,
.dm_ip_check input[type='checkbox'] + label:after {
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7.5px;
	content: '';
}
.dm_ip_check input[type='checkbox'] + label:before {
	
    right: 0;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e3e1;
	border-radius: 30px;
	background: #ffffff;
}
.dm_ip_check input[type='checkbox']:checked + label:before {
    background-color: #bbb;
}
/* Circle within the mode*/
.dm_ip_check input[type='checkbox'] + label:after {
	right: 29px;
	width: 30px;
	height: 30px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #bdbdbd;
}
.dm_ip_check input[type='checkbox']:checked + label:after {
	right: 0;
	background: #545454;
    background-size: contain;
  background-repeat: no-repeat;
  font-family:"Font Awesome 5 Free";
  padding: 6px 0 0 8px;
}
/* Title and description style */
h1 {
    margin-top: 30px;
    font-size: 2em;
}

#description {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Map style */
#map {
    height: 600px;
    width: 60%;
    margin: 30px auto;
    min-width: 500px;
    min-height: 600px;
}

/* Table style */
#data-table {
    width: 35%;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}

/* Button style */
#toggleViewOnlyBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggleViewOnlyBtn:hover {
    background-color: #ffeb3b;
}

/* Modal (the details) and popup styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    max-height: 80%;  /* Limit the height of the modal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;  /* Allow scrolling if content exceeds max height */
}

.modal-header img {
    width: 100%;
    max-height: 300px; /* Limit image height */
    object-fit: contain; /* Ensure image maintains aspect ratio */
    margin-bottom: 10px;
}

/* Close button style */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
body.dark tr:hover {
    background-color: #555;
}

.highlight {
    background-color: #ffeb3b;
}

img {
    width: 50px;
    height: 50px;
}

#popupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1000;
}
#popupForm input, #popupForm button {
    display: block;
    margin: 10px 0;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Detail popup styling */
#detailPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1000;
}

#detailPopup p {
    margin: 10px 0;
}

#detailPopup button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#detailPopup button:hover {
    background-color: #0056b3;
}

/* Add Request button styling */
#addRequest {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#addRequest:hover {
    background-color: #218838;
}


